body{
    background-image: url("../images/bg.jpg");
    height: 200%; 
    background-position: top;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgb(87, 82, 97);
    overflow-x: hidden;
}

.btn.gray-text:hover{
    background-color: rgba(255, 255, 255, 0.445);
}

#leftOption:hover,#rightOption:hover{
    background-color: rgba(255, 255, 255, 0.445);
}

.gray-text{
    font-weight: bold;
    color: rgb(87, 82, 97);
}

.smallOrigin{
    font-weight: bold;
    color: rgb(87, 82, 97);
}

.smallDestination{
    font-weight: bold;
    color: rgb(87, 82, 97);
}

#navbar-bottom{
    background-color: white;
    font-size: 12px !important;
    height: 60px;
    padding: 1px !important;
    opacity: 0;
}

#navClass{
    margin: 0px !important;
    padding: 0px !important;
}

#logincard{
    display: block;
    top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 350px;
    min-width: 500px;
    min-height: 350px;
    border-radius: 10px !important;
    background: rgba(255, 255, 255, 0.7);
}

#searchcard-top{
    display: block;
    top: 5px;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    height: 40px;
    min-width: 320px;
    min-height: 40px;
    border-radius: 10px 10px 0px 0px !important;
    background: rgba(255, 255, 255, 0.7);
}

#trip-top{
    display: block;
    top: 5px;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    height: 40px;
    min-width: 320px;
    min-height: 40px;
    border-radius: 10px 10px 0px 0px !important;
    background: rgba(255, 255, 255, 0.7);
}

#searchresult-top{
    display: block;
    top: 5px;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    height: 60px;
    min-width: 320px;
    min-height: 40px;
    border-radius: 10px 10px 10px 10px !important;
    background: rgba(255, 255, 255, 0.7);
}


#searchcard-middle-upper{
    display: block;
    top: 5px;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    height: 100px;
    min-width: 320px;
    min-height: 100px;
    border-radius: 0px 0px 0px 0px !important;
    background: rgba(255, 255, 255, 0.7);
}

#searchresult-item{
    display: block;
    top: 5px;
    margin-left: auto;
    margin-right: auto;
    max-width: 470px;
    height: 100px;
    min-width: 290px;
    min-height: 100px;
    border-radius: 0px 0px 0px 0px !important;
    background: rgba(255, 255, 255, 0.7);
}

#searchresult-item:hover{
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}

#trip-item{
    display: block;
    top: 5px;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    height: 165px;
    min-width: 320px;
    min-height: 100px;
    border-radius: 0px 0px 0px 0px !important;
    background: rgba(255, 255, 255, 0.7);
}

#payment-item{
    display: block;
    top: 5px;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    height: 370px;
    min-width: 320px;
    min-height: 370px;
    border-radius: 0px 0px 0px 0px !important;
    background: rgba(255, 255, 255, 0.7);
    padding: 20px;
}

#trip-bottom{
    display: block;
    top: 7px;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    height: 70px !important;
    min-width: 320px;
    min-height: 60px;
    border-radius: 0px 0px 10px 10px !important;
    background: rgba(255, 255, 255, 0.7);
}

@media only screen and (max-width: 500px) {
    #searchresult-item{
        display: block;
        top: 5px;
        margin-left: 10px;
        margin-right: 10px;
        max-width: 470px;
        height: 100px;
        min-width: 290px;
        min-height: 100px;
        border-radius: 0px 0px 0px 0px !important;
        background: rgba(255, 255, 255, 0.7);
    }
}

#searchcard-middle-lower{
    display: block;
    top: 5px;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    height: 130px;
    min-width: 320px;
    min-height: 130px;
    border-radius: 0px 0px 0px 0px !important;
    background: rgba(255, 255, 255, 0.7);
}

#searchcard-bottom{
    display: block;
    top: 5px;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    height: 55px;
    min-width: 320px;
    min-height: 55px;
    border-radius: 0px 0px 10px 10px !important;
    background: rgba(255, 255, 255, 0.7);
}

#mobileLogo{
    display: none;
    margin-left: auto;
    margin-right: auto;
    opacity: 0;
    z-index: -1000;
}

.arrowIndicator{
    display: inline-block;
    margin: 0px;
    text-align: center;
    width: 10%;
}

.tripSummaryHeader{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 40%;
}

@media only screen and (max-width: 575px) {
    #navBar {
      opacity: 0;
    }
    #logoAfter {
        opacity: 0;
    }
    #mobileLogo{
        display: block !important;
        position: fixed;
        height: 50px;
        top: 7%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 1;
        z-index: 2000 !important;
    }
    #logincard{
        display: block;
        top: 80px;
        margin-left: 10px;
        margin-right: 10px;
        width: auto;
        height: 350px;
        min-width: 300px;
        min-height: 350px;
        border-radius: 10px !important;
        background: rgba(255, 255, 255, 0.7);
    }
    #fromPlace{
        display: inline-block;
        font-weight: bold;
        color: rgb(87, 82, 97);
        margin: 0px !important;
        padding-right: 18px !important;
    }
    
    #toPlace{
        display: inline-block;
        width: 100vw;
        font-weight: bold;
        color: rgb(87, 82, 97);
        margin: 0px !important;
        padding-left: 18px !important;
    }
    .arrowIndicator{
        display: inline-block;
        text-align: center;
        margin: 0px !important;

    }
    
    #searchcard-top{
        display: block;
        top: 5px;
        margin-left: auto;
        margin-right: auto;
        max-width: 500px;
        height: 40px;
        min-width: 320px;
        min-height: 40px;
        border-radius: 10px 10px 0px 0px !important;
        background: rgba(255, 255, 255, 0.7);
    }

    #trip-top{
        display: block;
        top: 5px;
        margin-left: auto;
        margin-right: auto;
        max-width: 500px;
        height: 40px;
        min-width: 320px;
        min-height: 40px;
        border-radius: 10px 10px 0px 0px !important;
        background: rgba(255, 255, 255, 0.7);
    }

    #searchresult-top{
        display: block;
        top: 5px;
        margin-left: auto;
        margin-right: auto;
        max-width: 500px;
        height: 60px;
        min-width: 320px;
        min-height: 40px;
        border-radius: 10px 10px 10px 10px !important;
        background: rgba(255, 255, 255, 0.7);
    }
    .alignLeftTab{
        display: inline-block;
        text-align: left;
        margin-top: 9px;
        margin-left: 18% !important;
        margin-right: 30%;
    }
    .alignRightTab{
        display: inline-block;
        text-align: right;
        margin-top: 9px;
        margin-right: 0px !important;
    }
    .alignLeftDepartureDate{
        position: absolute;
        width: 50%;
        height: 100%; 
        margin: 0px !important;
        padding: 20px 0px 0px 30px;
        text-align: left;
    }
    
    .alignRightDepartureDate{
        position: absolute;
        width: 50%;
        height: 100%; 
        right: 0px;
        margin-right: 0px;
        padding: 20px 30px 0px 0px;
        text-align: right;
    }

    .alignLeftDepartureTime{
        display: inline-block;
        width: 30% !important;
        height: 100%; 
        margin: 0px !important;
        padding: 20px 0px 0px 10px;
        text-align: left;
    }
    
    .alignCenterDepartureTime{
        display: inline-block;
        width: 35%;
        height: 100%; 
        left: auto !important;
        right: auto !important;
        text-align: center;
    }
    .alignRightDepartureTime{
        display: inline-block;
        width: 20%;
        height: 100%; 
        right: 0px;
        margin-right: 0px;
        padding: 20px 0px 0px 10px !important;
        text-align: right;
    }

    .alignLeftTabAdult{
        display: inline-block;
        text-align: left;
        margin-top: 9px;
        margin-left: 10% !important;
        margin-right: 0px !important;
        float: left;
        font-size: 12px !important;
    }
    .alignRightTabInfant{
        display: inline-block;
        text-align: right;
        float: right;
        margin-top: 9px;
        margin-left: 0px !important;
        margin-right: -50% !important;
        font-size: 12px !important;
    }
    .alignCenter{
        display: inline-block;
        text-align: center !important;
        margin-top: 9px;
        float: right;
        margin-right: 51% !important;
        font-size: 12px !important;
    }
    .alignRightTabPlus{
        display: inline-block;
        text-align: right;
        margin-top: 50px !important;
        margin-left: 0px !important;
        margin-right: -60% !important;
        float: right;
    }
    .alignLeftFlightClass{
        display: inline-block;
        text-align: left;
        margin-top: 10px !important;
        margin-left: 6% !important;
        margin-right: 55% !important;
        float: right;
    }
    .alignCenterFlightClass{
        display: inline-block;
        text-align: right;
        margin-top: -10px !important;
        margin-left: 0% !important;
        margin-right: -30% !important;
        float: right !important; 
    }
    .alignRightTabFlightClass{
        display: inline-block;
        float: right !important;
        text-align: right;
        margin-top: 0px !important;
        margin-right: -130% !important;
    }
    a.nav-link{
        padding-left:0px !important;
        padding-right:0px !important;
    }
    #navbar-bottom{
        background-color: white;
        font-size: 12px !important;
        height: 60px;
        padding: 1px !important;
        opacity: 1;
    }
    .backButton{
        display: none !important;
        position: absolute;
        font-size: 35px;
        margin-left: 5px;
    }
    
    .backButton:hover{
        display: none !important;
        background-color: rgba(255, 255, 255, 0.363);
        border-radius: 10px;
        position: absolute;
        font-size: 35px;
        margin-left: 5px;
    }

    .backButtonSmall{
        background-color: rgba(0, 0, 0, 0.123) !important;
        position: absolute;
        font-size: 35px;
        margin-left: -30px !important;
        opacity: 1 !important;
        padding: 13px 0px 12px 10px !important;
        z-index: 1000000000;
    }
    
    .backButtonSmall:hover{
        background-color: rgba(75, 75, 75, 0.123) !important;
        position: absolute;
        font-size: 35px;
        margin-left: -30px !important;
        opacity: 1 !important;
        padding: 13px 0px 12px 10px !important;
        z-index: 1000000000;
        border-radius: 0px !important;
    }
}

#loginUserIcon{
    font-size: 37px;
    margin-right: 10px;
}

#loginPasswordIcon{
    font-size: 37px;
    margin-right: 15px;
    margin-left: 5px;
}

#actionButton{
    margin-top: 25px;
    margin-bottom: 10px;
    border-radius: 50px !important;
    font-weight: bold;
    font-size: 20px;
}

#makePaymentButton{
    margin-top: 25px;
    margin-bottom: 10px;
    border-radius: 50px !important;
    font-weight: bold;
    font-size: 20px;
}

#bookButton{
    margin-top: 25px;
    margin-bottom: 10px;
    border-radius: 50px !important;
    font-weight: bold;
    font-size: 20px;
}

#searchFlightButton{
    margin-top: 25px;
    margin-bottom: 10px;
    border-radius: 50px !important;
    font-weight: bold;
    font-size: 20px;
}

#loginButton{
    margin-top: 25px;
    margin-bottom: 10px;
    border-radius: 50px !important;
    font-weight: bold;
    font-size: 20px;
}

#registerLink{
    text-align: center;
    vertical-align: top;
    color: #1B2B99;
    padding-top: 10px;
}

#registerDiv{
    margin-top: 10px;
    margin-bottom: 1000px;
}

#loginspace{
    margin-top: 50px;
}

.nav-item{
    margin-left: 20px !important;
    font-weight: bold;
}

.nav-link.active{
  color: #1B2B99 !important;
}

.navButtons{
    text-align: center;
}

.navIcon{
    font-size: 20px;
}

.outsideButton{
    margin-top: -15px !important;
    width: auto;
    height: 350px;
    min-width: 300px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

#fromPlace{
    display: inline-block;
    margin-top: 10px;
    font-weight: bold;
    color: rgb(87, 82, 97);
    text-align: right;
    margin: 0px;
    width: 44.5%;
    padding-right: 50px;
}

#toPlace{
    display: inline-block;
    width: 100vw;
    font-weight: bold;
    color: rgb(87, 82, 97);
    text-align: left;
    margin: 0px;
    width: 40%;
    padding-left: 50px;
}

#modalTo{
    top: 60px;
}

#modalFrom{
    top: 60px;
}

h2,h4,h6{
    display: block;
    font-weight: bold;
    color: rgb(77, 133, 236);
}

.alignLeft{
    display: inline-block;
    text-align: left;
}

.alignLeftResult{
    display: inline-block;
    text-align: left;
}

.alignLeft:hover{
    color: #1B2B99;
}

.alignLeftTab{
    display: inline-block;
    text-align: left;
    margin-top: 9px;
    margin-left: 90px;
}

.alignLeftTabAdult{
    display: inline-block;
    text-align: left;
    margin-top: 9px;
    margin-left: 120px;
}

.alignLeftFlightClass{
    display: inline-block;
    text-align: left;
    margin-top: -8px;
    margin-left: 60px;
}

.alignRightTab{
    display: inline-block;
    text-align: right;
    margin-top: 9px;
    margin-right: 90px;
}

.alignRightTabInfant{
    display: inline-block;
    text-align: right;
    margin-top: 9px;
    margin-left: -18px;
    margin-right: 50px;
}

.alignRightTabPlus{
    display: inline-block;
    text-align: right;
    margin-top: 9px;
    margin-left: -18px;
    margin-right: 50px;
}

.alignRightTabFlightClass{
    display: inline-block;
    text-align: right;
    margin-top: 9px;
    margin-right: 50px;
}

.alignCenter{
    display: inline-block;
    text-align: right;
    margin-top: 9px;
    margin-left: 40px;
    margin-right: 50px;
}

.alignCenterFlightClass{
    display: inline-block;
    text-align: right;
    margin-top: 9px;
    margin-left: 70px;
    margin-right: 60px;
}

.alignRight{
    display: inline-block;
    text-align: right;
}

.alignTextCenter{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.alignLeftDepartureDate{
    position: absolute;
    width: 50%;
    height: 100%; 
    margin: 0px !important;
    padding: 20px 0px 0px 30px;
    text-align: left;
}

.alignLeftDepartureTime{
    display: inline-block;
    width: 33%;
    height: 100%; 
    margin: 0px !important;
    padding: 20px 0px 0px 30px;
    text-align: left;
}

.alignCenterDepartureTime{
    display: inline-block;
    vertical-align: middle;
    width: 35%;
    height: 100%; 
    left: auto !important;
    right: auto !important;
    text-align: center;
}

.alignRightDepartureDate{
    position: absolute;
    width: 50%;
    height: 100%; 
    right: 0px;
    margin-right: 0px;
    padding: 20px 30px 0px 0px;
    text-align: right;
}

.alignRightDepartureTime{
    display: inline-block;
    width: 20%;
    height: 100%; 
    right: 0px;
    margin-right: 0px;
    padding: 20px 0px 0px 30px;
    text-align: right;
}

#modal-item.card.rounded-top{
    padding: 10px;
    margin: 10px;
}

#modal-item-to.card.rounded-top{
    padding: 10px;
    margin: 10px;
}

.modal-body{
    text-align: left !important;
}

#leftOption{
    position: absolute;
    width: 50%;
    height: 100%; 
    margin-right: 0px;
    color: #4D85EC;
}

#rightOption{
    position: absolute;
    width: 50%;
    height: 100%; 
    right: 0px;
    margin-right: 0px;
    color: #4D85EC;
}

.active-tab{
    border-bottom: 3px solid #1B2B99;
    color: #1B2B99 !important;
}

.datepicker{
    background-color: white;
    position: absolute;
    z-index: 10000 !important;
    box-shadow: 5px 10px rgba(0, 0, 0, 0.247);
    border: 1px solid black;
}

div.datepicker.datepicker-dropdown.dropdown-menu.datepicker-orient-left.datepicker-orient-top{
    display: none !important;
}

div.alignLeftDepartureDate:hover{
    background-color: rgba(255, 255, 255, 0.397);
    border-radius: 10px;
}

div.alignRightDepartureDate:hover{
    background-color: rgba(255, 255, 255, 0.397);
    border-radius: 10px;
}

#passengerModal{
    top: 55px;
    font-size: 14px;
}

.active-link{
    color: #1B2B99 !important;
}

.inactive-link{
    color: #4D85EC !important;
}

.backButton{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.363);
    border-radius: 10px;
    font-size: 35px;
    margin-left: 5px;
    opacity: 1;
}

.backButton:hover{
    background-color: rgba(255, 255, 255, 0.616);
    border-radius: 10px;
    position: absolute;
    font-size: 35px;
    margin-left: 5px;
    opacity: 1;
}

.backButtonSmall{
    position: absolute;
    font-size: 35px;
    margin-left: 5px;
    opacity: 0;
}

.backButtonSmall:hover{
    background-color: rgba(255, 255, 255, 0.363);
    border-radius: 10px;
    position: absolute;
    font-size: 35px;
    margin-left: 5px;
    opacity: 0;
}

#resultHeader{
    font-size: 10px !important;
    margin: 0px !important;
}